* {
  margin: 0;
  padding: 0;
}

#container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#sub-container {
  display: inline-flex;
  flex-direction: column;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

#second-container {
  flex-grow: 1;
}

/* General: colors and margins */
#second-item {
  background-color: hsl(179, 62%, 43%);
  padding: 20px;
}
#third-item {
  background-color: hsl(179, 57%, 49%);
  padding: 20px;
}

/* elements from top to bottom */

#title {
  color: hsl(179, 62%, 43%);
  margin: 20px;
}

#sub-title {
  color: hsl(71, 73%, 54%);
  margin: 20px;
}

.paragraph {
  color: hsl(204, 7%, 71%);
  margin: 20px;
}

#subscription-text {
  color: white;
}
/* SECOND CONTAINER */
#price,
#period-of-time {
  /* display: inline; */
}

#price-container {
  display: flex; /* Create a horizontal flex container for the price */
  align-items: flex-end; /* Align the price to the baseline */
  margin-right: 5px; /* Adjust the spacing between the price and "per month" */
}

#price {
  color: white;
  font-weight: bold;
  font-size: 30px;
}

#period-of-time {
  color: rgb(213, 203, 203);
  font-size: 18px; /* Adjust the font size as needed */
  color: gray; /* Color for "per month" text */
  margin-left: 5px; /* Adjust the spacing between the price and "per month" */
}

.price {
}
#sub-price {
  color: white;
}

/* end of price section */

/* button */

#signup-button {
  background-color: hsl(71, 73%, 54%);
  color: white;
  border: none;
  font-size: 18px;
  width: 90%;
  max-width: 300px;
  height: 50px;
  border-radius: 5px;
  padding: 10px 20px;
}

#signup-button:hover {
  background-color: hsl(71, 84%, 55%);
}

/* 3rd container, details */
#details {
  color: white;
  margin: 20px;
}

#details-list {
  color: white;
  list-style: none;
  margin: 20px;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/* media queries */

/* mobile */
@media (max-width: 400px) {
  body {
    padding: 20px;
  }

  #first-item,
  #second-item,
  #third-item {
    display: block;
  }

  #second-item {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

/* desktop */

@media (min-width: 401px) {
  #first-item {
    flex: 1; /* Takes up available space, pushing part 2 and part 3 down */
    display: inline-flex;
    flex-direction: column;
  }

  /* flex containers */
  #second-container {
    display: flex;
  }

  /* it takes space equally  */
  #second-item,
  #third-item {
    flex: 1;
  }
}
