* {
  margin: 0;
  padding: 0;
}

#container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#sub-container {
  display: inline-flex;
  flex-direction: column;
  padding: 20px;
  /* background-color: lightgray; Optional background color for visualization */
}

#sub-container {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

#second-container {
  flex-grow: 1;
}

@media (min-width: 768px) {
}
/* General: colors and margins */
#title,
#sub-title,
.paragraph,
#subscription-text,
#price,
#period-of-time,
#sub-price,
#details {
  /* margin: 10px;
  color: white; */
}

#title {
  color: hsl(179, 62%, 43%);
  margin: 20px;
}

#sub-title {
  color: hsl(71, 73%, 54%);
  margin: 20px;
}

.paragraph {
  color: hsl(204, 7%, 71%);
  margin: 10px;
}
#subscription-text {
  color: white;
}
#price,
#period-of-time {
  display: inline;
}
#price {
  color: white;
}
#period-of-time {
  color: rgb(213, 203, 203);
}
#sub-price {
  color: white;
}

#signup-button {
  background-color: hsl(71, 73%, 54%);
  color: white;
  border: none;
  font-size: 18px;
  width: 90%;
  height: 50px;
  border-radius: 5px;
}

#signup-button:hover {
  background-color: hsl(71, 84%, 55%);
}

#details-list {
  color: white;
  list-style: none;
  margin: 20px;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#second-item {
  background-color: hsl(179, 62%, 43%);
  padding: 20px;
}
#third-item {
  background-color: hsl(179, 57%, 49%);
  padding: 20px;
}

/* media queries */

/* mobile */
@media (max-width: 400px) {
  body {
    padding: 20px;
  }

  #first-item,
  #second-item,
  #third-item {
    display: block;
  }
}

/* desktop */

@media (min-width: 401px) {
  #first-item {
    flex: 1; /* Takes up available space, pushing part 2 and part 3 down */
    display: inline-flex;
    flex-direction: column;
  }

  /* flex containers */
  #second-container {
    display: flex;
  }

  /* it takes space equally  */
  #second-item,
  #third-item {
    flex: 1;
  }
}
